extends ../components/base/layout

block variables
  - const title = "Welbex"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const hasLoader = false
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +info()
