mixin contacts()
  .contacts
    a.contacts__link.contacts__phone(href="tel:+75555555555") +7 555 555-55-55
    .contacts__social
      a.contacts__link.contacts__telegram(href="#" aria-label="Канал Телеграм")
        +icon("telegram", 20, 20)
      a.contacts__link.contacts__viber(href="#" aria-label="Вайбер")
        +icon("viber", 20, 20)
      a.contacts__link.contacts__skype(href="#" aria-label="Вотсапп")
        +icon("whatsapp", 20, 20)
    span.contacts__address Москва, Путевой проезд 3с1, к 902
