mixin info()
  section.info
    .info__bg-mobile
      +picture("content", "bg", "png", 320, 445, "Фоновое изображение")
    .container
      .info__wrap
        .info__title-block
          h1.info__title Зарабатывайте<br>больше
            span с WELBEX
          span.info__slogan Развиваем и контролируем<br>продажи за вас
        .info__promo-block
          .info__promo-title
            p Вместе с <span>бесплатной<br>консультацией</span> мы дарим:
          ul.info__promo-list
            li.info__promo-item
              p Виджеты
              span 30 готовых<br>решений
            li.info__promo-item
              p Dashboard
              span с показателями<br>вашего бизнеса
            li.info__promo-item
              p Skype Аудит
              span отдела продаж<br>и CRM системы
            li.info__promo-item
              p 35 дней
              span использования<br>CRM
            li.info__promo-item-mobile
              p Skype аудит
            li.info__promo-item-mobile
              p 30 виджетов
            li.info__promo-item-mobile
              p Dashboard
            li.info__promo-item-mobile
              p Месяц аmoCRM
          button.btn.info__promo-btn Получить консультацию
