mixin wrapperBg()
  .wrapper-bg
    .container
      .wrapper-bg-images
        .wrapper-bg__img-top-left.wrapper-bg__img
          +icon("purple-light", 1043, 497)
        .wrapper-bg__img-top-right.wrapper-bg__img
          +icon("purple-ball", 94, 81)
        .wrapper-bg__img-top-center.wrapper-bg__img
          +icon("red-ball", 117, 117)
        .wrapper-bg__img-center-left.wrapper-bg__img
          +icon("red-light", 601, 954)
        .wrapper-bg__img-center-right.wrapper-bg__img
          +icon("red-ball-small", 62, 62)
