.info {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
  position: relative;

  @include vp-767 {
    padding-bottom: 33px;
    margin-bottom: 20px;
    padding-top: 40px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include vp-767 {
      display: block;
    }
  }

  &__title {
    font-family: $ff-inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin: 0 0 30px 0;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-size: 100%;
    background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
      linear-gradient(0deg, #e4e5ea, #e4e5ea);

    @include vp-1023 {
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 44px;
      margin: 0 0 15px 0;
      width: max-content;
      max-width: 90%;
    }

    span {
      display: block;
      font-size: 48px;
      font-weight: 900;
      line-height: 58px;
      color: $color-transparent;

      @include vp-1023 {
        font-size: 42px;
        line-height: 50px;
      }

      @include vp-767 {
        font-size: 36px;
        line-height: 44px;
      }
    }
  }

  &__slogan {
    font-family: $ff-montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    display: block;
  }

  &__promo-title {
    margin-bottom: 40px;

    @include vp-767 {
      margin-bottom: 18px;
    }

    p {
      font-family: $ff-inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: right;
      margin: 0;
      background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
        linear-gradient(0deg, #e4e5ea, #e4e5ea);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      background-size: 100%;

      @include vp-767 {
        text-align: left;
        width: max-content;
        max-width: 90%;
      }
    }

    span {
      font-weight: 700;
      letter-spacing: 0.05em;
      color: $color-transparent;
      text-transform: uppercase;

      @include vp-767 {
        text-transform: unset;
        letter-spacing: unset;
      }
    }
  }

  &__promo-block {
    padding: 16px 0 16px 10px;

    @include vp-767 {
      padding: 16px 0 16px 0;
    }
  }

  &__title-block {
    @include vp-767 {
      margin-bottom: 31px;
    }
  }

  &__promo-list {
    list-style-type: none;
    margin: 0 0 60px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 135px 135px;
    column-gap: 30px;
    row-gap: 30px;

    @include vp-767 {
      grid-template-columns: minmax(60px, 200px) minmax(100px, 200px);
      column-gap: 0;
      row-gap: 14px;
      margin: 0 0 10px 0;
    }
  }

  &__promo-item-mobile {
    display: none;

    @include vp-767 {
      display: block;
      text-transform: uppercase;
      position: relative;

      p {
        font-family: $ff-montserrat;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: left;
        margin: 0 0 0 15px;
      }

      &::before {
        top: 7px;
        left: 0;
        display: block;
        position: absolute;
        content: "";
        width: 10px;
        height: 1.5px;
        background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
      }
    }
  }

  &__promo-item {
    @include vp-767 {
      display: none;
    }

    p {
      font-family: $ff-inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-align: right;
      text-transform: uppercase;
      margin: 0 0 6px 0;
    }

    span {
      display: block;
      font-family: $ff-montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: right;

    }
  }

  &__promo-btn {
    display: block;
    margin-left: auto;

    @include vp-767 {
      display: none;
    }
  }

  &__bg-mobile {
    display: none;

    @include vp-767 {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }
}
